/* 
.App {
  font-family: sans-serif;
  text-align: center;
} */

/* .mainWrapper {
  width: calc(100vw - 17px);
  height: calc(100vh - 17px);
  display: grid;
  background-color: aquamarine;
}

.contentWrapper {
  height: 60px;
  width: 90%;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  align-content: center;
  justify-content: center;
} */

/* .contentWrapper div{
  height: 300px !important;
} */

/* .afterBeforeContainer  */




