/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.bannerFont{
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}





/* Tabs  */

.tabs {
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.tab-buttons {
  width: 20%;
  display: flex;
  flex-direction: column;
}

/* .tab-buttons .tabsBtn{
  background-color: #6754E9;
  
} */

.tab-buttons button {
  padding: 10px 0px;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}

.tab-buttons button .tabsBtnIcon{
  display: none;
font-size: 30px;
}


/* .tab-buttons button .tabsBtnRounded{

} */

.tab-buttons button.active {
  background-color: #6754E9;
}

.tab-buttons button.active .acrivetabsBtnRounded{
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tab-buttons button.active .acrivetabsBtnRounded .tabsBtnIcon  {
  display: block;
  color: white;
}

.tab-content {
  width: 100%;
  height: 300px;
  padding: 20px;
}




/* ---------------------------------------------------for card -------------------------------------------------------------- */
/* From Uiverse.io by dylanharriscameron */ 
.card {
  position: relative;
  /* width: 200px; */
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 97.5%;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #48dbfb;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
